name: Java CI with Maven

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'oracle'
        cache: maven
        
    - name: Compile Code
      run: mvn -B compile --file pom.xml

    - name: Run Unit Tests
      run: mvn -B test --file pom.xml

    - name: Package Application
      run: mvn -B package -DskipTests --file pom.xml
